.footer {
  padding: 40px;
  width: 100vw;
  display: flex;
  justify-content: center;
  bottom: 0;
  position: relative; /* Change to relative */
}

.footer div {
  display: flex;
  flex-direction: column;
}

.footer span {
  font-size: 0.7rem;
  font-style: italic;
}